<div class="landing-scene">
    <div class="content">
        <div class="header">
            <div *ngIf="isLoggedIn" class="dash" (click)="openNewPage('bookList')">
                Dashboard
            </div>
            <div class="sign-in" (click)="isLoggedIn ? logOut() : openNewPage('login') ">
                {{ isLoggedIn ? 'Sign out' : 'Sign in'}}
            </div>

        </div>

        <div class="site-description">
            <div class="text-area">
                Reading is fascinating
            </div>
            <div class="image-area">
                <img src="./../assets/library-img.jpg" />
            </div>

        </div>

        <div class="site-description">
            <div class="description">
                Dive deep into the world of books !
            </div>

        </div>

    </div>

</div>