<div class="book-list">

    <div class="left-content">

        <div class="user-detail">
            <i class="far fa-user"></i>
            <span>Hi Vijay</span>
        </div>

        <div class="filter-option">




        </div>


    </div>
    <div class="right-content">
        <div class="books">
            <div class="book-item grid-view">
                <div class="image-section">
                    <img src="./../../assets/library-img.jpg" />
                </div>
                <div class="detail-section">
                    <span>
                        New Book
                    </span>
                    <span>
                        Price
                    </span>

                </div>
            </div>
            <div class="book-item grid-view">
                <div class="image-section">
                    <img src="./../../assets/library-img.jpg" />
                </div>
                <div class="detail-section">
                    <span>
                        New Book
                    </span>
                    <span>
                        Price
                    </span>

                </div>
            </div>
            <div class="book-item grid-view">
                <div class="image-section">
                    <img src="./../../assets/library-img.jpg" />
                </div>
                <div class="detail-section">
                    <span>
                        New Book
                    </span>
                    <span>
                        Price
                    </span>

                </div>
            </div>
            <div class="book-item grid-view">
                <div class="image-section">
                    <img src="./../../assets/library-img.jpg" />
                </div>
                <div class="detail-section">
                    <span>
                        New Book
                    </span>
                    <span>
                        Price
                    </span>

                </div>
            </div>
            <div class="book-item list-view">
                <div class="image-section">
                    <img src="./../../assets/library-img.jpg" />
                </div>
                <div class="detail-section">
                    <span>
                        New Book
                    </span>
                    <span>
                        Price
                    </span>

                </div>
            </div>
            <div class="book-item list-view">
                <div class="image-section">
                    <img src="./../../assets/library-img.jpg" />
                </div>
                <div class="detail-section">
                    <span>
                        New Book
                    </span>
                    <span>
                        Price
                    </span>
                    <span><img src="https://jtride-data.s3.ap-south-1.amazonaws.com/uploads/1567155649_heart.svg" /></span>
                </div>
            </div>
            <div class="book-item list-view">
                <div class="image-section">
                    <img src="./../../assets/library-img.jpg" />
                </div>
                <div class="detail-section">
                    <span>
                        New Book
                    </span>
                    <span>
                        Price
                    </span>
                    <span><img src="https://jtride-data.s3.ap-south-1.amazonaws.com/uploads/1568814349_SAVELOCATIONred.svg" /></span>

                </div>
            </div>
        </div>


    </div>
</div>