<div class="login">
    <div class="input-form">
        <span class="description">
            Please provide your login credentials
        </span>
        <div class="mobile-input">
            <div class="label">
                <label>Email Address:</label>
            </div>
            <input type='text' placeholder='Enter your email address' />
        </div>
        <div class="mobile-input">
            <div class="label">
                <label>Password: </label>
            </div>
            <input type='text' placeholder='Enter your password' />
        </div>
        <div class="confirm-button">
            <span class="login-btn" (click)="openNewPage('bookList')"> Log in </span>
        </div>
    </div>
</div>