<div class="login">
    <div class="input-form">
        <span class="description">
            Please provide your login credentials
        </span>
        <div class="mobile-input">
            <div class="label">
                <label>Email Address:</label>
            </div>
            <input type='email' placeholder='Enter your email address' [(ngModel)]="email" />
        </div>
        <div class="mobile-input">
            <div class="label">
                <label>Password: </label>
            </div>
            <input type='password' placeholder='Enter your password' [(ngModel)]="password" />
        </div>
        <div class="confirm-button">
            <span class="login-btn" (click)="login()"> Log in </span>
        </div>
    </div>
</div>