.container {
    background: #FFF;
    min-height: 700px;
    margin: 10px 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.common-header {
    margin: 0px 20px;
    background: #ECF0FB;
    padding: 12px;
    border-radius: 14px;
    min-height: 40px;
    box-shadow: 0 2px 8px -2px rgba(31, 45, 61, .4);

    display: flex;
    justify-content: space-between;
    align-items: center;

    .fa-home {
        cursor: pointer;
        margin: 0px 12px;
    }

    .title {
        font-size: 18px;
        color: #d01d13;
        cursor: pointer;
    }
}